@using Blazor.Heroicons.Solid
@inherits LayoutComponentBase

<header class="p-2 flex items-center justify-between bg-slate-300 dark:bg-slate-900 ">
    <div>
        <NavLink href="/" class="hover:text-slate-700 dark:hover:text-slate-400 px-2 py-2 text-sm font-medium">Home</NavLink>
        <NavLink href="/about" class="hover:text-slate-700 dark:hover:text-slate-400 px-2 py-2 text-sm font-medium">About</NavLink>
    </div>
    <div class="mr-2">
        <button @onclick="ChangeTheme" class="bg-slate-400 dark:bg-slate-600 rounded-md hover:bg-slate-500 dark:hover:bg-slate-500 px-1 py-1">
            @{
                if (toggleDark)
                {
                    <SunIcon class="h-6 w-6 text-slate-300" />
                }
                else
                {
                    <MoonIcon class="h-6 w-6 text-slate-300" />
                }
            }
        </button>
    </div>
</header>