@using Blazor.Heroicons.Solid
@inherits LayoutComponentBase

<header class="w-full bg-slate-300 dark:bg-slate-900">
    <div class="container mx-auto p-2 flex items-center justify-between">
        <div class="flex flex-gap gap-x-4">
            <NavLink href="/" class="hover:text-slate-600 dark:hover:text-slate-400 text-lg" activeClass="font-semibold" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/about" class="hover:text-slate-600 dark:hover:text-slate-400 text-lg" activeClass="font-semibold" Match="NavLinkMatch.Prefix">About</NavLink>
        </div>
        <div class="mr-2">
            <button @onclick="ChangeTheme" class="bg-slate-400 dark:bg-slate-600 rounded-md hover:bg-slate-500 dark:hover:bg-slate-500 px-1 py-1">
                @if (theme == true)
                {
                    <SunIcon class="h-6 w-6 text-slate-300" />
                }
                else
                {
                    <MoonIcon class="h-6 w-6 text-slate-300" />
                }
            </button>
        </div>
    </div>
</header>

