@using Blazor.Heroicons.Solid
@page "/"

<div class="flex justify-center text-center">
    <div>
        <div>
            <h3 class="text-gray-900 dark:text-white text-base font-medium tracking-tight ">Hello World</h3>
        </div>
        <span class="text-gray-500 dark:text-gray-400 text-sm">
            Under construction...
        </span>
        <div class="flex items-center justify-center">
            <WrenchScrewdriverIcon class="size-16 text-gray-500 dark:text-gray-400 " />
        </div>
    </div>
</div>